{% if glides %}
<table>
<tr><td>GLIDE NUMBER</td><td>Event</td><td>Country</td><td>Comment</td></tr><br>
{% for glide in glides.object_list %}
<tr><td style="padding-right:20px"><a href="{{glide.id}}">{{ glide.glidenumber }}</a></td><td style="padding-right:20px">{{ glide.event}}</td><td style="padding-right:20px">{{ glide.country}}</td><td style="padding-right:20px">{{ glide.comment}}</td></tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if glides.has_previous %}
            <a href="?page={{ glides.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ glides.number }} of {{ glides.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?page={{ glides.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

